
@{
    ViewBag.Title = "Index";
}

<div ng-app="SportsStoreApp">
    <div ng-controller="authController as vm">
        {{vm.user}}
        <div class="panel panel-primary">
            <div class="panel-heading">Authentication</div>
            <table class="table table-striped">
                <tr>
                    <td>Authenticated:</td>
                    <td>{{vm.user.isAuthenticated}}</td>
                </tr>
                <tr>
                    <td>User:</td>
                    <td><span ng-show="vm.user.username" ng-bind="vm.user.username"></span></td>
                </tr>
                <tr>
                    <td>
                        <button ng-click="vm.authenticate()">Authenticate</button>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/AppScripts/app.js"></script>
    <script src="~/AppScripts/authService.js"></script>
    <script src="~/AppScripts/authController.js"></script>
}
